<% if errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(errors.count, "error") %> prohibited this action from being completed:</h2>

    <ul>
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
