<div class='card mx-auto my-3' style="width: 80%;">
  <div class='card-img-top'>
    <%profil = nil%>
    <%if user.photo.present?%>
      <%profil = user.photo%>
    <%else%>
      <%profil = "https://picsum.photos/200"%>
    <%end%>
    <%= image_tag profil, 
                alt: "profil image", width: "100px", height: "100px", class:'profile_picture' %>
  </div>
  <div class='card-body'>
    <p class='card-text'>
     <%= link_to user_path(user) do %>
      <%= user.name %><br>
      <%end%>
    </p>
  </div>
</div>

