<div>
     <div class='my-3' style="display:flex; justify-content:space-around;">
     <%if can? :manage, @recipe %>
      <%=link_to "Generate shopping list", user_shopping_lists_path(@user), class:"btn btn-outline-info"%>
      <%=link_to "Add incredient", new_user_recipe_recipe_food_path(@user, @recipe), class:"btn btn-outline-info"%>
    <%end%>
  </div>
   <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%@recipe_foods.each_with_index do |rf, index|%>
        <%= render partial: "partials/recipe_food_item", locals: {rf:rf, index:index} %>
        <%# In case we have a error %>
  <%= render partial: "partials/errors", locals: { errors: rf.errors } %>
      <%end%>
    </tbody>
  </table>
</div>
